In [1]:
from surprise import SVD
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate

import pandas as pd

In [2]:
# Cargar las 3883 peliculas y los registros de usuarios
movies_df = pd.read_csv('movies.dat', sep='::', header=None)
ratings_df = pd.read_csv('ratings.dat', sep='::', header=None)

C:\Users\ingeniero\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

C:\Users\ingeniero\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [3]:
movies_df.head()
# id_pelicula ;  nombre_a√±o ; generos

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [4]:
movies_df.shape # dimension, cantidad de peliculas = 3883

(3883, 3)

In [5]:
ratings_df.head()  # cargar las puntuaciones = 1000209

# item_id ; usuario ; calificacion ; fecha_timestamp

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [6]:
ratings_df.shape

(1000209, 4)

In [7]:
del (ratings_df[3])# borrar la tercera fila correspondiente a la fecha

In [8]:
reader = Reader(rating_scale=(1,5))# Clase usada 'parsear' el dataframe de ratings

In [9]:
data = Dataset.load_from_df(ratings_df,reader) # cargar el dataset desde dataframe y el reader

In [10]:
algo = SVD() # uso de algoritmo

In [11]:
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True) #ratings_df por data
# Correr 5 validaciones cruzadas e imprimir sus resultado y arroja la descripcion/medidas del modelo

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8738  0.8726  0.8734  0.8737  0.8707  0.8728  0.0011
MAE (testset)     0.6856  0.6849  0.6854  0.6861  0.6835  0.6851  0.0009
Fit time          108.91  109.80  109.98  108.82  108.76  109.25  0.52
Test time         4.04    3.55    3.43    3.42    3.49    3.59    0.23

{'fit_time': (108.91322946548462,
  109.79527997970581,
  109.98229026794434,
  108.82122421264648,
  108.76222109794617),
 'test_mae': array([ 0.68558114,  0.68486634,  0.6853561 ,  0.68606955,  0.68350244]),
 'test_rmse': array([ 0.8737657 ,  0.87256885,  0.87340357,  0.87366029,  0.87068286]),
 'test_time': (4.042231321334839,
  3.5512030124664307,
  3.4251961708068848,
  3.4191956520080566,
  3.490199565887451)}